<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <nav>
    <div class="nav-wrapper">
        <a class="brand-logo"><img src="/src/logo.png" alt=""></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href = '/home' >Home</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="">Sair</a></li>
      </ul>
    </div>
  </nav>

  <div class="contactBox">
    <div class="row">
        <form class="col s20">
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" type="text" class="validate" placeholder="Name">
                </div>
                <div class="input-field col s12">
                    <input  id="last_name" type="text" class="validate" placeholder="Last Name">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="telephone_number" type="tel" class="validate" maxlength="11" placeholder="Telephone">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light red" type="submit" name="action" (click)="initStorage()">Submit
                        <i class="material-icons right"></i>
                      </button>
                </div>
            </div>
        </form>
    </div>
</div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>