.nav-wrapper{
    background-color: #7E0014;
}

a{
   color: #ffffff;
}


.contactBox {
    display: flex;
}

.btn {
    margin-left: 20px;
}

body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    width: 100%;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  .page-footer {
    background-color: #7E0014
  }
      
