<div class="container">
  <div class="row">
      <div class="col-xs12">
          <label>Username</label>
            <br>
            <input type="text" class="form-control"
            [(ngModel)]='usuario'>
            <br>
            <label for="login">Senha</label>
            <br>
            <input type="password" class="form-control" [(ngModel)]='senha'>
            <br>
            <br>
          <button class="btn btn-primary" [disabled]="senha == '' || usuario == ''"  (click)="onLogin()">Entrar</button>
          <p *ngIf="login">Login efetuado com sucesso!</p>
      </div>
  </div>
</div>

