<div class="container">
  <div class="row">
      <div class="col-xs12">
          <label id="loginText">Username</label>
            <br>
            <input [(ngModel)]="user.username" type="text" class="form-control">
            <br><br>
            <label for="login" id="loginText">Senha</label>
            <br>
            <input [(ngModel)]="user.password" type="password" class="form-control">
            <br>
            <br>
          <button class="btn btn-primary"(click)="onLogin()">Entrar</button>
          <p *ngIf="this.loginOk" id="loginText">Login efetuado com sucesso!</p>
      </div>
  </div>
</div>

