<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href = '/home' >Home</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="">Sair</a></li>
      </ul>
    </div>
  </nav>
    

<div class="wrapper">
    <div class="box"> 
      <img src="https://picsum.photos/300/300" alt="coisas do hamilton">
      <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas esse consectetur? Atque ad impedit quaerat? Voluptatem et excepturi eum provident, repellendus, sunt ducimus magni molestiae autem inventore perspiciatis nesciunt!
      <br>
      <br>
      <button class="btn btn-primary" [appHighlight] = "'#107500'" [defaultColor] = "'#1BC700'" (click)="onLike()">Like</button>
      <button class ="btn btn-primary" [appHighlight] = "'#7C0000'" [defaultColor] = "'red'" (click)="onDeslike()">Dislike</button>
      <br><br>
      <div class="like" *ngFor="let getLike of getLikes">Likes: {{getLike.number}}</div>
      <div class="like" *ngFor="let getDeslike of getDeslikes">Deslikes: {{getDeslike.number}}</div>
      
    </div>

    <div class="box b">
      <img src="https://picsum.photos/301/300" alt="coisas do hamilton">
      <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas esse consectetur? Atque ad impedit quaerat? Voluptatem et excepturi eum provident, repellendus, sunt ducimus magni molestiae autem inventore perspiciatis nesciunt!
      <br>
      <br>
      <button class="btn btn-primary" [appHighlight] = "'#107500'" [defaultColor] = "'#1BC700'" (click)="onLike1()">Like</button>
      <button class ="btn btn-primary" [appHighlight] = "'#7C0000'" [defaultColor] = "'red'" (click)="onDeslike1()">Dislike</button>
      <br><br>
      <div class="like" *ngFor="let getLike of getLikes1">Likes: {{getLike.number}}</div>
      <div class="like" *ngFor="let getDeslike of getDeslikes1">Deslikes: {{getDeslike.number}}</div>
    </div>

    <div class="box c">
      <img src="https://picsum.photos/300/301" alt="coisas do hamilton">
      <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas esse consectetur? Atque ad impedit quaerat? Voluptatem et excepturi eum provident, repellendus, sunt ducimus magni molestiae autem inventore perspiciatis nesciunt!
      <br>
      <br>
      <button class="btn btn-primary" [appHighlight] = "'#107500'" [defaultColor] = "'#1BC700'" (click)="onLike2()">Like</button>
      <button class ="btn btn-primary" [appHighlight] = "'#7C0000'" [defaultColor] = "'red'" (click)="onDeslike2()">Dislike</button>
      <br><br>
      <div class="like" *ngFor="let getLike of getLikes2">Likes: {{getLike.number}}</div>
      <div class="like" *ngFor="let getDeslike of getDeslikes2">Deslikes: {{getDeslike.number}}</div>
    </div>

    <div class="box d">
      <div class="input-field col s12">
        <textarea [(ngModel)]= "commentArea" [ngModelOptions]="{standalone: true}" class="materialize-textarea" placeholder="Type here your message!"></textarea>
        <button class="btn btn-primary" [appHighlight] = "'blue'" [defaultColor] = "'blue'" type="submit" name="action" (click)="onComment()">Submit<i class="material-icons right"></i>
        </button>
        <div *ngFor="let comment1 of commentArea">Comentario: {{commentText}}</div>
      </div>
    </div>

    <div class="box e">
      <div class="input-field col s12">
        <textarea [(ngModel)]= "commentArea1" [ngModelOptions]="{standalone: true}" class="materialize-textarea" placeholder="Type here your message!"></textarea>
        <button class="btn btn-primary" [appHighlight] = "'blue'" [defaultColor] = "'blue'" type="submit" name="action" (click)="onComment1()">Submit<i class="material-icons right"></i>
        </button>
        <div>Comentario: {{commentText1}}</div>
      </div>
    </div>

    <div class="box f">
      <div class="input-field col s12">
        <textarea [(ngModel)]= "commentArea2" [ngModelOptions]="{standalone: true}" class="materialize-textarea" placeholder="Type here your message!"></textarea>
        <button class="btn btn-primary" [appHighlight] = "'blue'" [defaultColor] = "'blue'" type="submit" name="action" (click)="onComment2()">Submit<i class="material-icons right"></i>
        </button>
        <div>Comentario: {{commentText2}}</div>
    </div>
  </div>

</div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Angular Study</h5>
        </div>
        <div class="col l4 offset-l2 s12">
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Texto de direito de copias
      </div>
    </div>
  </footer>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
