body {
    margin: 40px;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 600px 600px 600px;
    grid-template-rows: 700px 700px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    padding-top: 20px;
    padding-left: 50px;
    margin-left: 13%;
  }
  
  .box {
    color: #000;
    padding: 20px;
    font-size: 150%;
  }

  .nav-wrapper{
    background-color: #7E0014;
}

a{
   color: #ffffff;
}


img {
  padding-left: 110px;
}

.btn {
  margin-left: 20px;
  width: 100px;
}

.like {
  padding-left: 20px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  background-color: #7E0014
}
    

