<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo"><img src="/src/logo.png" alt=""></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href = '/home' >Home</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="">Sair</a></li>
      </ul>
    </div>
  </nav>
    

<div class="wrapper">
    <div class="box a"> 
      <img src="https://picsum.photos/300/300" alt="coisas do hamilton">
      <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas esse consectetur? Atque ad impedit quaerat? Voluptatem et excepturi eum provident, repellendus, sunt ducimus magni molestiae autem inventore perspiciatis nesciunt!
      <br>
      <button class="btn btn-primary" ng-click="onLike()">curtir</button>
      <div *ngFor="let getLike of getLikes; let i = index">{{getLike.number}}</div>
      <!--<img id="like" src="https://pbs.twimg.com/profile_images/742050233320898560/K2r-_yxQ_400x400.jpg" alt="">-->
    </div>
    <div class="box b">
      <img src="https://picsum.photos/300/301" alt="coisas do hamilton">
      <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas esse consectetur? Atque ad impedit quaerat? Voluptatem et excepturi eum provident, repellendus, sunt ducimus magni molestiae autem inventore perspiciatis nesciunt!
      <br>
      <button class="btn btn-primary" ng-click="onLike()">curtir</button>
      <div *ngFor="let getLike of getLikes; let i = index">{{getLike.number}}</div>
    </div>
    <div class="box c">
      <img src="https://picsum.photos/301/300" alt="coisas do hamilton">
      <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quas esse consectetur? Atque ad impedit quaerat? Voluptatem et excepturi eum provident, repellendus, sunt ducimus magni molestiae autem inventore perspiciatis nesciunt!
      <br>
      <button class="btn btn-primary" ng-click="onLike()">curtir</button>
      <div *ngFor="let getLike of getLikes; let i = index">{{getLike.number}}</div>
    </div>
    <div class="box d">D</div>
    <div class="box e">E</div>
    <div class="box f">F</div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
